/* .category__car-block {
    width: 370px;
    height: 560px;
    border-radius: 3px;
    position: relative;
    background-image: url("../../../images/Bitmap.png");
    background-repeat: no-repeat;
    object-fit: cover;
    object-position: 0 0;
    /* border: 1px solid red; *

} */

/* .category__car-block:after {
    content: "";
    opacity: 0;
    /* transition: opacity 0.5s linear; *
} */

/* .category__car-block::before {
    content: "";
    opacity: 0;
    transition: opacity 0.5s linear;
} */