.category__title {
    position: absolute;
    bottom: 23px;
    left: 20px;
    height: 60px;
    width: 265px;
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    color: #fff;
    margin: 0;

    /* border: 1px solid red;*/
}