.category__list {
    height: 264px;
    position: relative;
    /* border: 1px solid red; */
    padding: 0;
    margin: 0;
    margin-bottom: 28px;
    margin-left: 28px;
    border-radius: 3px;
    /* background: red; */

    opacity: 1;
    /* transition: opacity 0.5s linear; */
}

/*при наведении на картинку изменяем фон*/
/*Пока непонятно в какую папку выносить ткого виде селекторы!?*/
.category__list:hover .category__car {
    filter: brightness(25%);
    /* transition: 0.5s; */
}

/* 
  .category__list:not(:hover) .category__car {
    transition: 0.7s;
  } */