@import url(./__cell/category__cell.css);

@import url(./__cell/_big/category__cell_big.css);


@import url(./__car/category__car.css);

@import url(./__title/category__title.css);



/* .category {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 76px;
    padding: 0;
    /* border: 1px solid red; 
}*/

.category {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    /* grid-template-rows: repeat(2, 265px); */
    grid-gap: 30px;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 76px;
    padding: 0;
    /* border: 1px solid red; */
}