@import url(./_pop/post_pop.css);
@import url(./_most-pop/post_most-pop.css);

@import url(./__img/post__img.css);
@import url(./__title/post__title.css);

.post {
    position: relative;
    padding: 0;

    cursor: pointer;
    /*border: 1px solid red;*/
}

.post:hover .post__title {
    text-decoration: underline;
}