.category__table-small {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    /* justify-content: space-evenly; */
    /* border: 1px solid red; */
    /* margin: 0; */
    padding: 0;
    height: 560px;
    /* padding-top: 30px; */
    /* 
    border: 1px solid red;
    /* padding: 0 30px; *
    height: 560px;
    margin: 0; */
}