@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.page {
  font-family: PT Sans;
  margin: 0 auto;
}

.header {
  height: 90px;
  background-color: #000;
  padding-top: 0.5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  color: #fff;
}

.header__logo {
  /*border: 1px solid red;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-premium {
  margin-right: 6px;
  /*border: 1px solid red;*/
}

.header__logo-car {
  width: 39px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  /*padding: 3px 0;*/
  background: #4a90e2;
  border-radius: 3px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /*margin: 0;*/

  /* border: 1px solid red;*/
}

/*.header__nav {
  list-style: none;
  display: flex;
  /*flex-direction: row;*
  width: 368px;
  /*justify-content: space-between;*
  border: 1px solid red;
}*/

.header__links {
  list-style: none;
  display: flex;
  /*flex-direction: row;*/
  width: 368px;
  justify-content: space-between;
  /* border: 1px solid red;*/
  padding: 0;
}

.header__link {
  text-decoration: none;
  color: #fff;
  padding: 0;
  margin: 0;
}

.header__link:hover {
  /*прозрачность*/
  opacity: 0.4;
  /*прозрачность можно ещё сделать через rgba,
  но есть ли в этом смысл?
  да и rgba значений цвета #2f80ed у меня нет :)*/
  /*color: #fff;*/

  /*для плавного изменения при наведении мышки на ссылку*/
  transition: 0.5s;
}

.header__search {
  display: flex;
  align-items: center;
  /*border: 1px solid red;*/
  /*border: none;*/
}

.header__search input {
  border: 2px solid transparent;
  outline: none;
  background: transparent;
  color: #fff;
  opacity: 0.7;
}

.header__search input:focus {
  border: 2px solid rgb(255, 255, 255, 0.3);
  background-color: rgb(255, 255, 255, 0.3);
  z-index: 1;
  border-radius: 3px;
}

.header__search button {
  background-image: url("../images/Shape.png");
  /*background: transparent;*/
  background-color: transparent;
  width: 16px;
  height: 17px;
  border: none;
  cursor: pointer;
  outline: none;
}

/*.header__search-icon {
  /*border: 1px solid red;*
}*/

/*возможно весь кусок content не нужен*/
.content {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  /*border: 1px solid red;*/
}

.category {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 76px;
  padding: 0;
  /*border: 1px solid red;*/
}

.category__table {
  display: flex;
  align-items: center;
  /*border: 1px solid red;*/
  padding: 0;
  margin: 0;
  height: 560px;
}

.category__table-big {
  position: relative;
  /*border: 1px solid red;*/
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  /*height: 560px;*/

  /*добавили фон для появления при наведении*/
  border-radius: 3px;
  background: black;
  opacity: 1;
}

/*при наведении на картинку изменяем фон*/
.category__table-big:hover .category__car {
  opacity: 0.3;
  transition: 0.5s;
}

.category__table-small-1 {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*border: 1px solid red;*/
  padding: 0 30px;
  height: 560px;

}

.category__table-small-2 {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  height: 560px;
  /*border: 1px solid red;*/
}

.category__car {
  display: block;
  height: 265px;
  width: 370px;
  border-radius: 3px;
}

.category__car-big {
  width: 374px;
  height: 560px;
  /*border: 1px solid red;*/
  margin: 0;
  padding: 0;
}

.category__list {
  position: relative;
  /*border: 1px solid red;*/
  padding: 0;
  margin: 0;
  border-radius: 3px;
  background: black;
  opacity: 1;
}


/*при наведении на картинку изменяем фон*/
.category__list:hover .category__car {
  opacity: 0.3;
  transition: 0.5s;
}

.span-title {
  position: absolute;
  top: 30px;
  left: 20px;
  width: 62px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  /*padding: 3px 0;*/
  background: #4a90e2;
  border-radius: 3px;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
  margin: 0;

  /* border: 1px solid red;*/
}

.category__author {
  position: absolute;
  bottom: 89px;
  left: 20px;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  margin: 0;

  /* border: 1px solid red;*/
}

.category__title {
  position: absolute;
  bottom: 23px;
  left: 20px;
  height: 60px;
  width: 265px;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  margin: 0;

  /* border: 1px solid red;*/
}
