@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.page {
  font-family: PT Sans;
  margin: 0 auto;
  min-width: 1100px;
  max-width: 1600px;
}

.header {
  height: 90px;
  background-color: #000;
  padding-top: 0.5px;
  display: flex;
  justify-content: center;
  /* align-items: center; */

  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  color: #fff;
}

.header__container {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  width: 1170px;
}

.logo {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
}

.logo-premium {
  padding: 0;
  margin: 0;
  margin-right: 6px;
  /*border: 1px solid red;*/
}

.logo-car {
  padding: 3px 5px;
  margin: 0;
  /* width: 39px;
  height: 22px; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  /*padding: 3px 0;*/
  background: #4a90e2;
  border-radius: 3px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /*margin: 0;*/

  /* border: 1px solid red; */
}

/*.header__nav {
  list-style: none;
  display: flex;
  /*flex-direction: row;*
  width: 368px;
  /*justify-content: space-between;*
  border: 1px solid red;
}*/

.header__links {
  list-style: none;
  display: flex;
  /*flex-direction: row;*/
  width: 368px;
  justify-content: space-between;
  /* border: 1px solid red; */
  padding: 0;
  margin: 0;
}

.header__link {
  text-decoration: none;
  color: #fff;
  padding: 0;
  margin: 0;
}

.header__link:hover {
  /*прозрачность*/
  opacity: 0.4;
  /*прозрачность можно ещё сделать через rgba,
  но есть ли в этом смысл?
  да и rgba значений цвета #2f80ed у меня нет :)*/
  /*color: #fff;*/

  /*для плавного изменения при наведении мышки на ссылку*/
  transition: 0.5s;
}

.header__link:not(:hover) {
  transition: 0.7s;
}

.header__search {
  display: flex;
  align-items: center;
  /*border: 1px solid red;*/
  /*border: none;*/
}

.header__search input {
  border: 2px solid transparent;
  outline: none;
  background: transparent;
  color: #fff;
  opacity: 0.7;
}

.header__search input:focus {
  border: 2px solid rgb(255, 255, 255, 0.3);
  background-color: rgb(255, 255, 255, 0.3);
  z-index: 1;
  border-radius: 3px;
}

.header__search button {
  background-image: url("../images/Shape.png");
  /*background: transparent;*/
  background-color: transparent;
  width: 16px;
  height: 17px;
  border: none;
  cursor: pointer;
  outline: none;
}

/*.header__search-icon {
  /*border: 1px solid red;*
}*/

.content {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  max-width: 1170px;
  margin: auto;
  padding: 0;
  /*width: 1170px; */
  /* border: 1px solid red; */
}

.category {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 76px;
  padding: 0;
  /* border: 1px solid red; */
}

.category__table {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
  /* box-sizing: border-box; */
  /* padding: 0; */
  /* margin: 0; */
  height: 560px;
  width: 100%;
}

.category__table-big {
  position: relative;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  /*height: 560px;*/

  /*добавили фон для появления при наведении*/
  border-radius: 3px;
  background: black;
  opacity: 1;
}

/*при наведении на картинку изменяем фон*/
.category__table-big:hover .category__car {
  opacity: 0.3;
  transition: 0.5s;
}

.category__table-big:not(:hover) .category__car {
  transition: 0.7s;
}

.category__table-small-1 {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: 1px solid red; */
  /* margin: 0; */
  padding: 0;
  height: 560px;
  /* padding-top: 30px; */
  /* 
  border: 1px solid red;
  /* padding: 0 30px; *
  height: 560px;
  margin: 0; */
}

.category__table-small-2 {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* margin: 0; */
  padding: 0;
  height: 560px;
  /* border: 1px solid red; */
}

.category__car {
  display: block;
  height: 265px;
  width: 370px;
  border-radius: 3px;
  /* border: 1px solid red; */
  padding: 0;
  margin: 0;
}

.category__car-big {
  width: 374px;
  height: 560px;
  /*border: 1px solid red;*/
  margin: 0;
  padding: 0;
}

.category__list {
  height: 264px;
  position: relative;
  /* border: 1px solid red; */
  padding: 0;
  margin: 0;
  border-radius: 3px;
  background: #000;

  opacity: 1;
}

/*при наведении на картинку изменяем фон*/
.category__list:hover .category__car {
  opacity: 0.3;
  transition: 0.5s;
}

.category__list:not(:hover) .category__car {
  transition: 0.7s;
}

.span-title {
  position: absolute;
  top: 30px;
  left: 20px;
  /*width: 62px;
  height: 22px;*/
  padding: 4px 12px 2px;
  /*display: flex;*/
  justify-content: center;
  align-items: center;
  /*padding: 3px 0;*/
  background: #4a90e2;
  border-radius: 3px;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
  margin: 0;

  /*border: 1px solid red;*/
}

.category__author {
  position: absolute;
  bottom: 89px;
  left: 20px;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  margin: 0;

  /* border: 1px solid red;*/
}

.category__title {
  position: absolute;
  bottom: 23px;
  left: 20px;
  height: 60px;
  width: 265px;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  margin: 0;

  /* border: 1px solid red;*/
}

.articles {
  display: flex;
  /*flex-direction: column;*/
  justify-content: center;
  /*align-items: center;*/

  /* border: 1px solid red; */

  margin-top: 0;
  margin-bottom: 60px;
  padding: 0;
}

.articles__table {
  list-style: none;
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  margin-top: 0;
  margin-bottom: 0;
  /* border: 1px solid red; */
  padding: 0;
}

.article {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 560px;
  width: 770px;
  margin: 0 0 60px;
  /* border: 1px solid red; */
}

.article__car {
  display: flex;
  height: 440px;
  width: 770px;
  border-radius: 3px;
}

.article__block {
  position: absolute;
  left: 20px;
  bottom: 0;
  /*position: relative;*/
  /*display: flex;
  justify-content: center;
  align-items: center;*/
  background-color: #fff;
  width: 730px;
  height: 249px;
  border-radius: 3px;
  /*border: 1px solid red;*/
  padding: 0;
  margin: 0;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.article__block:hover {
  /*-webkit-transform: scale(1.1);*/
  transform: scale(1.1);
  transition: 1s;
}

.article__block:not(:hover) {
  transition: 1s;
}

.span-title_article {
  left: 30px;
}

.article_title {
  position: absolute;
  top: 72px;
  left: 30px;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 28px;
  color: #171717;
  padding: 0;
  margin: 0;

  /*border: 1px solid red;*/
}

.article__author {
  position: absolute;
  top: 115px;
  left: 30px;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #666666;
  padding: 0;
  margin: 0;

  /*border: 1px solid red;*/
}

.article_text {
  position: absolute;
  bottom: 30px;
  left: 30px;

  width: 614px;
  height: 72px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #666666;

  padding: 0;
  margin: 0;
  /*border: 1px solid red;*/
}

.pages {
  margin: 0;
  margin-top: 7px;
  padding: 0;
  /* border: 1px solid red; */
}

.pages__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.page-number {
  background: transparent;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  margin: 0;
  margin-right: 10px;
  /* border: 1px solid red; */
}

.page-number__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  text-decoration: none;
  color: #171717;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  border-radius: 3px;
  /* border: 1px solid red; */
}

.page-number__link_nonactive {
  color: #949090;
}

.page-number :hover {
  background: #171717;
  color: #fff;
  transition: 0.4s;
}

.page-number :not(:hover) {
  transition: 0.4s;
}

.side-bar {
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: center;*/
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 130px;
  padding: 0;
  width: 270px;
  /*padding-left: 130px;*/
  /* border: 1px solid red; */
}

/*.about-us {
  /*width: 270px;*
  /*border: 1px solid red;*
}*/

.about-us__photo {
  display: block;
  border-radius: 3px;
  /*width: 270px;*/
  height: 200px;
  margin: 0;
  padding: 0;
}

.about-us__author {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #171717;
  margin: 20px 0 0;
  padding: 0;

  /*border: 1px solid red;*/
}

.about-us__profession {
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #999999;
  margin: 8px 0 0;
  padding: 0;

  /*border: 1px solid red;*/
}

.about-us__text {
  /*width: 270px;*/
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: #666666;
  margin: 14px 0 21px;
  padding: 0;

  /*border: 1px solid red;*/
}

.side-bar__button {
  text-decoration: none;
  outline: none;
  border: none;
  /*font-family: PT Sans;*/
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  padding: 0;

  /*width: 270px;*/
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #232323;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;

  /*border: 1px solid red;*/
}

.side-bar__button:hover {
  opacity: 0.8;
  transition: 0.2s;
}

.side-bar__button:not(:hover) {
  transition: 0.3s;
}

.side-bar__button:active {
  background-color: #000;
}

.popular-posts {
  padding: 0;
  margin: 0;
  /*width: 270px;*/
  /*border: 1px solid red;*/
}

.side-bar__title {
  /*padding: 0;*/
  margin: 60px 0 23px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #171717;

  /*border: 1px solid red;*/
}

.posts {
  width: 270px;
  padding: 0;
  margin: 0;
  /* border: 1px solid red; */
  list-style: none;
}

.pop-post {
  position: relative;
  padding: 0;
  margin: 0;
  margin-bottom: 39px;
  cursor: pointer;
  /*border: 1px solid red;*/
}

.posts :last-child {
  margin-bottom: 0;
}

.pop-post__span-title {
  top: 20px;
  left: 20px;
}

.pop-post__img {
  width: 270px;
  height: 195px;
  padding: 0;
  margin: 0;
  border-radius: 3px;
}

.pop-post__title {
  width: 270px;
  height: 56px;
  padding: 0;
  margin: 20px 0 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  color: #171717;
}

.pop-post:hover .pop-post__title {
  text-decoration: underline;
}

.pop-post__author {
  padding: 0;
  margin: 0;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  color: #666666;
}

.instagram {
  margin: 0;
  padding: 0;
  /*width: 270px;*/
  /*border: 1px solid red;*/
}

.instagram__posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  /*border: 1px solid red;*/
}

.instagram__img {
  margin-bottom: 10px;
  display: block;
  width: 130px;
  height: 130px;
  border-radius: 3px;
  /*border: 1px solid red;*/
}

.instagram__img:hover {
  /*-webkit-transform: scale(1.1);*/
  transform: scale(1.1);
  transition: 0.5s;
}

.instagram__img:not(:hover) {
  transition: 0.5s;
}

.instagram__logo {
  margin-right: 10px;
}

/*.tags {
  /*border: 1px solid red;*
}*/

.tags_list {
  display: flex;
  flex-wrap: wrap;
  /*justify-content: space-between;*/
  justify-content: flex-start;
  /*margin: 0;
  padding: 0;*/
  /*добавила к общей ширине side-bar 270px ещё 10px,
  чтобы скомпенсировать margin вправо*/
  width: 280px;
  align-items: flex-start;
  /*border: 1px solid red;*/
}

.span-title_tag {
  position: static;
  text-decoration: none;
  padding: 5px 16px 7px;
  background: #ebebeb;
  color: #171717;
  font-size: 14px;
  line-height: 18px;
  /*margin-bottom: 10px;*/
  margin: 0 10px 10px 0;

  /*border: 1px solid red;*/
  /*padding: 4px 12px 2px;
  text-align: center;

  /*display: flex;*
  justify-content: center;
  align-items: center;
  /*padding: 3px 0;*
  background: #4a90e2;
  border-radius: 3px;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
  margin: 0;*/
}

.span-title_tag:hover {
  background: #232323;
  color: #fff;
  transition: 0.5s;
}

.span-title_tag:not(:hover) {
  transition: 0.5s;
}

/* .newsletter {
  width: 270px;
  border: 1px solid red;
} */

/*скомпенсировала margin 10px, который появляется при отступах у тегов
у обычного side-bar__title верхний отступ 60px */
.side-bar__title_newsletter {
  margin-top: 50px;
  margin-bottom: 11px;
}

.newsletter__subtitle {
  font-size: 14px;
  line-height: 24px;
  color: #666666;
  width: 252px;
}

.data__input {
  text-decoration: none;
  outline: none;
  border: none;
  /*font-family: PT Sans;*/
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  padding-left: 15px;

  /*width: 270px;*/
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: #232323;

  border: 1px solid #e5e5e5;
  /*добавила нижнюю строку, чтобы элемент был в рамках границе,
  т.е. чтобы граница не отрисовывалас вне элемента*/
  box-sizing: border-box;
  border-radius: 3px;
  cursor: text;
}

.data__input::placeholder {
  color: #aeb3bb;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  padding: 0;
  margin: 0;
  /* padding-left: 15px; */
}

/* .most-popular {
  /* border: 1px solid red; *
} */

.most-popular__title {
  margin: 0;
  margin-bottom: 27px;
  padding: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 39px;
  /* border: 1px solid red; */
}

.posts__most-pop {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 79px;
  /* border: 1px solid red; */
}

.pop-post__most-pop {
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

.footer-before {
  background: #171717;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  color: #fff;
  padding: 0;
  padding-bottom: 49px;
  margin: 0;
  display: flex;
  justify-content: center;
}

.three-columns {
  display: flex;
  list-style: none;
  justify-content: space-between;
  /* border: 1px solid red; */
  padding: 0;
  margin: 0;
  margin-top: 62px;
  width: 1170px;
}

.three-columns__one-column_first {
  width: 270px;
  /* border: 1px solid red; */
  margin: 0;
  /* margin-right: 129px; */
}

.logo_footer {
  /* border: 1px solid red; */
  justify-content: start;
  margin: 0;
  /* margin-bottom: 25px; */
  padding: 0;
  height: 26px;
}

.footer-before__subtitle {
  margin: 25px 0 64px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
}

.footer-before__title {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
}

.footer-before__title_social {
  margin-bottom: 23px;
}

.social-links {
  display: flex;
}

.social-link {
  display: flex;
  justify-content: center;
  width: 34px;
  height: 34px;
  background: #373737;
  border-radius: 3px;
  margin-right: 15px;
  /* border: 1px solid red; */
}

.social-link:hover {
  opacity: 0.4;
  transition: 0.3s;
}

.social-link:not(:hover) {
  transition: 0.4s;
}

.three-columns__one-column_third {
  width: 270px;
}

.side-bar__title_newsletter_dark {
  color: #fff;
  padding: 0;
  margin: 0 0 38px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;

  /* border: 1px solid red; */
}

.data__input_dark {
  border: none;
  background-color: #373737;
  color: #fff;
}

.recent-posts {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  /* margin-right: 109px; */
}

.footer-before__title_recent {
  margin-bottom: 3px;
}

.recent-posts__cell {
  list-style: none;
  display: flex;
  margin: 0;
  margin-top: 25px;
  padding: 0;
  /* border: 1px solid red; */
  height: 95px;
  cursor: pointer;
}

.recent-posts__img {
  width: 95px;
  height: 95px;
  margin: 0;
  margin-right: 20px;
  padding: 0;
  /* border: 1px solid red; */
}

.recent-posts__title {
  width: 178px;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 26px;
  margin: 4px 0 13px;
  padding: 0;
  /* border: 1px solid red; */
}

.recent-posts__author {
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

.recent-posts__cell:hover .recent-posts__title {
  text-decoration: underline;
}

.footer-main {
  display: flex;
  justify-content: center;
  background: #000;
  padding: 39px 0 37px;
  /*margin: 0; */
  color: #fff;
  /* border: 1px solid red; */
}

.footer-main__container {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  width: 1170px;
  /* border: 1px solid red; */
}

.footer__author {
  padding: 0;
  margin: 0;
}