.tag {
    position: static;
    text-decoration: none;
    padding: 5px 16px 7px;
    background-color: #ebebeb;
    color: #171717;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 10px;
    margin: 0 10px 10px 0;
    border-radius: 3px;
    /*border: 1px solid red;*/
    /*padding: 4px 12px 2px;
    text-align: center;
  
    /*display: flex;*
    justify-content: center;
    align-items: center;
    /*padding: 3px 0;*
    background: #4a90e2;
    border-radius: 3px;
    font-size: 12px;
    line-height: 16px;
    color: #fff;
    margin: 0;*/
    transition: color 0.3s linear, background-color 0.4s linear;
}

.tag:hover {
    background-color: #232323;
    color: #fff;
    /* transition: 0.5s; */
}

/* .tag:not(:hover) {
    transition: 0.5s;
} */